body {
    margin: 0;
    font-family: "helvetica";
}

body h2 {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #888888;
}

label {
    font-size: 12px;
    color: #888888;
}

input {
    width: 340px;
    height: 30px;
    background-color: #FFFFFF;
    border: 1px solid #707070;
    margin-top: 7px;
}

.header {
    min-height: 319px;
    background-color: #707070;
    border: 1px solid #707070;
    text-align: center;
}
.head-text-1 {
    font-size: 20px;
    color: #FFFFFF;
    margin: 69px 0px 0px 0px;
}
.head-text-2 {
    font-size: 40px;
    color: #FFFFFF;
    font-weight: bold;
    margin: 0;
}
.head-text-3 {
    font-size: 14px;
    color: #FFFFFF;
    margin: 24px 0px 50px 0px;
}
.head-nav {
    margin: 0px;
}
.nav-flex {
    margin: auto;
    max-width: 760px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.head-nav a {
    margin: 2px;
    font-size: 14px;
    width: 160px;
    height: 40px;
    color: #888888;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 6px #00000029;
    border-radius: 4px;
    text-decoration: none;
}
.head-nav p {
    margin: 12px;
}

.selection-title {
    margin-top: 48.67px;
}
.items {
    margin: auto;
    margin-top: 30px;
    max-width: 931px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card-item {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 192.75px;
    height: 377px;
}
.card-img {
    width: 190.75px;
    background-color: #FFFFFF;
    border: 1px solid #707070;
}
.card-title {
    margin: 0;
    margin-top: 14px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #888888;
}
.card-description {
    margin: 0;
    font-size: 12px;
    color: #888888;
}
.card-price {
    margin: 0;
    margin-top: 6px;
    margin-bottom: 7px;
    font-size: 16px;
    font-weight: bold;
    color: #888888;
}
.card-btn {
    margin-top: 10px;
    width: 192.75px;
    height: 30px;
    font-size: 16px;
    color: #888888;
    background-color: #FFFFFF;
    border: 1px solid #707070;
    border-radius: 4px;
}
.btn-items {
    width: 260px;
    height: 39px;
    margin: auto;
    margin-top: 22px;
    background-color: #FFFFFF;
    border: 1px solid #707070;
    border-radius: 4px;
    display: block;
    font-size: 16px;
    color: #888888;
}

.news-title {
    margin-top: 164px;
}
.news-content {
    text-align: center;
}
.text-news {
    margin-top: 44px;
    font-size: 14px;
    color: #888888;
}
.form-news {
    margin: auto;
    margin-top: 39px;
    max-width: 764px;
}
.form-fields {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.input-group {
    display: inline-flex;
    flex-flow: column;
    text-align: left;
    margin: auto;
}
.form-submit {
    margin: auto;
    margin-top: 50px;
}
.submit-btn {
    text-align: center;
    padding: 11px 85px 10px 86px;
    font-size: 16px;
    color: #888888;
    background-color: #FFFFFF;
    border: 1px solid #707070;
    border-radius: 4px;
}

.footer {
    height: 201px;
    background-color: #707070;
    border: 1px solid #707070;
    margin-top: 142.36px;
}
.footerText {
    margin-top: 64.64px;
    text-align: center;
    font-size: 12px;
    color: #FFFFFF;
}